body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 700px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
